html{
  scroll-behavior: smooth;
}
/* ==========navbar============= */
 #moto{
  position: fixed;
  width: 100%;
  z-index: 10000;
 }
.nav-item a {
  transition-property: background-color;
  transition: 1s;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid black;
  margin-left: 18px;
  transition: 1s;
  border-radius: 4px;
}



.navbar .container .navbar-toggler{
  border: 0;
  outline: 0;
}
.navbar .container .navbar-toggler:focus{
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler i{
  color: #000;
}


/* ============navbarEnd=============== */
/* =========Home============= */
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  /* background-image: url('https://images.unsplash.com/photo-1616004655123-818cbd4b3143?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y29kaW5nJTIwd2FsbHBhcGVyfGVufDB8fDB8fHww&w=1000&q=80'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1.1);
  filter: contrast(1.5);
  filter: blur(1.1);
}



.text button {
  font-weight: 600;
  padding: 10px;
  transition-property: background-color;
  transition-property: color;
  transition: 1s;
  border: 0;
  outline: 0;
  color: #2f3640;
  border: 1px solid black;
  border-radius: 4px;
}


/* ============HomeEnd=============== */

/* =======About============ */
#demo p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.images {
  font-size: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.image {
  margin-left: 15px;
}

.images i{
  cursor: pointer;
  color: #000;
}

.imag {
  margin-left: 15px;
}

#demo button {
  font-weight: 600;
  padding: 8px;
  transition-property: background-color;
  transition-property: color;
  transition: 1s;
  border: 0;
  outline: 0;
  /* box-shadow: 0 0 2px #000; */
  border: 1px solid black;
  border-radius: 4px;
}



.progress-title {
  width: 100%;
  height: auto;
}
.progress-title h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px;
}


.progress {
  height: 20px;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  border: none;
  outline: none;
}

.progress .progress-bar {
  border-radius: 10px;
  animation: animate-positive 2s;
}

.progress .progress-value {
  width: 60px;
  height: 20px;
  font-size: 15px;
  color: #000;
  border-radius: 0 0 15px 15px;
  border-top: none;
  position: absolute;
  right: 50px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* ===========EndAbout================ */
.card-card img{
  cursor: pointer;
}

/* ============service=============== */
.section-head {
  margin-bottom: 60px;
}

.section-head h4 {
  position: relative;
  padding: 0;
  color: #f91942;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.section-head h4::before {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #f91942;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}

.section-head p {
  color: #4f4c4c;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.item {
  background-color: #ffffff;
  text-align: center;
  padding: 30px 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item p{
  color: #4f4c4c !important;
  font-size: 17px !important;
 }

.item:hover {
  background: linear-gradient(to top, #09203f69 0%, #53789534 100%);
  color: #000;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.item p:hover{
  color: #000;
}


.item:hover .item,
.item:hover span.icon {
  color: #000 !important;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #f91942;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.item i{
  color: #4f4c4c !important;
}
.item i:hover{
  color: #000 !important;

}
.item .feature_box_col_one {
  background-color: rgba(247, 198, 5, 0.02);
  color: #f91942;
}

.item .feature_box_col_two {
  background-color: rgba(255, 77, 28, 0.15);
  color: #f91942;
}

.item .feature_box_col_three {
  background-color: rgba(0, 147, 38, 0.15);
  color: #f91942;
}

.item .feature_box_col_four {
  background-color: rgba(0, 108, 255, 0.15);
  color: #f91942;
}

.item .feature_box_col_five {
  background-color: rgba(146, 39, 255, 0.15);
  color: #f91942;
}

.item .feature_box_col_six {
  background-color: rgba(23, 39, 246, 0.15);
  color: #f91942;
}

.item h6 {
  font-size: 25px;
  margin-bottom: 20px;
}

/* ===========Endservices================= */
.project-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.project-main .project{
  width: 350px;
  background-position: center;
  background-size: cover;
  margin-top: 3%;
  margin-bottom: 3%;
}
.project-main .project img{
  width: 100%;
  height: 45vh;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 5%;
}


/* ============Contactstart=========== */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #c23616; */
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 30px;
  font-weight: 500;
}

.contact .content p {
  font-weight: 300;
  font-size: 18px;
}

.contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contain .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contain .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contain .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
 background-color: #ffffff;
 color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #000;
  border-radius: 50%;
  font-size: 20px;
}

.contain .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  font-weight: 300;
}

.contain .contactinfo .box .text h3 {
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.contain .contactinfo .box .text p{
  font-size: 14px !important
}


.contactform {
  width: 40%;
  padding: 40px;
}

.contactform h2 {
  font-size: 20px;
  color: #f91942;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform input{
  border-radius: 3px;
  color: #000;
}
.contactform textarea{
  color: #000;
  border-radius: 3px;
}
.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

input{
  padding-left: 20px !important;
}
textarea{
  padding-left: 20px !important;
}

.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  /* margin: 10px 0; */
  pointer-events: none;
  transition: 0.5s;
  color: #000;
}

.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span {
  color: #000;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
  width: 100px;
  background-color: #ffffff;
  border: 1px solid black;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  padding-right: 18px;
  text-align: center;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contain {
    flex-direction: column;
  }

  .contain .contactinfo {
    margin-bottom: 40px;
  }

  .contain .contactinfo,
  .contactform {
    width: 100%;
  }
}

/* ============Endcontact============= */
/* ======About Contact  ka h1 style============= */
.section {
  margin-bottom: 30px;
}

.section h1 {
  position: relative;
  padding: 0;
  color: #f91942;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}

.section h1::before {
  content: '';
  width: 60px;
  height: 3px;
  background-color: #f91942;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.section h1 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}










