html{
  scroll-behavior: smooth;
}
/* ==========navbar============= */
 #moto{
  position: fixed;
  width: 100%;
  z-index: 10000;
 }
.nav-item a {
  transition-property: background-color;
  transition: 1s;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 18px;
  transition: 1s;
  border-radius: 50px;
  margin-top: 12px;
}
.nav-item a:hover{
  background-color: #fff;
  color: black;
}

.navbar .container .navbar-toggler{
  border: 0;
  outline: 0;
}
.navbar .container .navbar-toggler:focus{
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler i{
  color: #fff;
}


/* ============navbarEnd=============== */
.color{
  background-color: black;
}
/* =========Home============= */

section{
  font-size:3rem;
  position:relative;
  height:100vh;
  display: flex;
}
#particles-js h1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 100%;
    text-align: center;
  }
#particles-js{
  background-color: black;
}
#particles-js button{
   font-size: 16px;
   font-weight: 500;
   width: 130px;
   padding: 12px;
   border: none;
   outline: none;
   border-radius: 50px;
   border: 1px solid #fff;
   color: #fff;
   background-color: black;
   transition: 1s;
}
#particles-js button:hover{
  background-color: #fff;
  color: black;
}
section:nth-child(odd){
  color:white;
    background-color: #b61924;
}


.text button {
  font-weight: 600;
  padding: 10px;
  transition-property: background-color;
  transition-property: color;
  transition: 1s;
  border: 0;
  outline: 0;
  color: #2f3640;
  border: 1px solid black;
  border-radius: 50px;
}


/* ============HomeEnd=============== */

/* =======About============ */
#demo p {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
}
#demo h1{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.images {
  font-size: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.image {
  margin-left: 15px;
}

.images i{
  cursor: pointer;
  color: #fff;
}

.imag {
  margin-left: 15px;
}

#demo button {
  font-weight: 600;
  padding: 8px;
  transition-property: background-color;
  transition-property: color;
  transition: 1s;
  border: 0;
  outline: 0;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: black;
  color: #fff;
}

#demo button:hover{
  background-color: #fff;
  color: black;
}

.progress-title {
  width: 100%;
  height: auto;
}
.progress-title h3 {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 20px;
  color: #fff;
}


.progress {
  height: 20px;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  border: none;
  outline: none;
}

.progress .progress-bar {
  border-radius: 8px;
  animation: animate-positive 2s;
}

.progress .progress-value {
  width: 60px;
  height: 20px;
  font-size: 15px;
  color: black;
  border-radius: 0 0 15px 15px;
  border-top: none;
  position: absolute;
  right: 50px;
  padding-left: 6px;
  padding-right: 6px;
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* ===========EndAbout================ */
.card-card img{
  cursor: pointer;
}
.project-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.project-main .project{
  width: 350px;
  background-position: center;
  background-size: cover;
  margin-top: 3%;
  margin-bottom: 3%;
  --borderWidth: 5px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.project-main .project img{
  width: 100%;
  height: 45vh;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

.project-main .project:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #fff,
    black,
    #fff,
    black,
    #fff,
    black,
    #fff,
    black
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* ============service=============== */

.item {
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 25px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item h6{
  font-size: 24px;
  font-weight: 800;
}

.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #fff;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.item p{
  font-size: 16px !important;
  font-weight: 500 !important;
}

.item:hover{
   background-color: #fff;
   color: black;
}
.item:hover h6{
   color: black;
}
.item:hover p{
   color: black !important
}
.item:hover .icon{
   color: black;
}

/* ===========Endservices================= */


/* ============Contactstart=========== */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 30px;
  font-weight: 500;
}

.contact .content p {
  font-weight: 300;
  font-size: 18px;
}

.contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contain .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contain .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contain .contactinfo .box .icon {
  min-width: 60px;
  height: 60px;
 background-color: #ffffff;
 color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px #000;
  border-radius: 50%;
  font-size: 20px;
}

.contain .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  font-weight: 300;
}

.contain .contactinfo .box .text h3 {
  font-weight: 500;
  color: #fff;
  font-size: 20px;
}
.contain .contactinfo .box .text p{
  font-size: 14px !important
}


.contactform {
  width: 40%;
  padding: 40px;
}

.contactform h2 {
  font-size: 20px;
  color: #f91942;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform input{
  border-radius: 3px;
  color: #000;
  background-color: black;
}
.contactform textarea{
  color: #000;
  border-radius: 3px;
  background-color: black;
}
.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  resize: none;
}

input{
  padding-left: 20px !important;
  color: #fff !important;
}
textarea{
  padding-left: 20px !important;
  color: #fff !important;
}

.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding-top: 12px;
  padding-left: 12px;
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
  color: #fff;
}

.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span {
  color: #fff;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"] {
  font-weight: 600;
  padding: 10px;
  transition-property: background-color;
  transition-property: color;
  transition: 1s;
  border: 0;
  outline: 0;
  color: #fff;
  border: 1px solid black;
  border-radius: 50px;
  width: 100px;
  background-color: black;
  border: 1px solid #fff;
}

.contactform .inputbox input[type="submit"]:hover{
  background-color: #fff;
  color: black;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contain {
    flex-direction: column;
  }

  .contain .contactinfo {
    margin-bottom: 40px;
  }

  .contain .contactinfo,
  .contactform {
    width: 100%;
  }
}

/* ============Endcontact============= */












